body {
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

div.app-caption {
    padding: 25px 0px;    
    font-size:3.0em;
    font-weight: bold;
    color:black;
}

form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

form ul li {    
  color: red;        
}

.alert ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}


.menucolor
{
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
  color:white;
    
}

.menubuttoncolor
{
    color:white;
}

/*.imagem {
  background: url('/img/dinisptentrega.svg') no-repeat;
  background-size:contain;
  background-position: center;
}*/


/* FOOTER */

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:350px;
        background:white;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:280px;
        margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 10px 25px;
        margin-bottom:10px;
        border-bottom: 1px solid #444444;
        background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}

footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #444444;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}


/*#copyright
{
        padding-top:25px;
        background: #1D1D1D;
        height:50px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:20px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}
#copyright .wrapper .social
{
        position:absolute;
        right:0;
        top:25px;
}
#copyright .wrapper .social a
{
        transition: opacity .25s ease;
        opacity: 0.3;
        margin-left: 12px;
        display:block;
        float:left;
}
#copyright .wrapper .social a:hover
{
        opacity: 0.7;
}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper a:hover
{
        color: #fff;
}*/


		ul.unstyled {
			list-style: none;
			padding-left: 0;
		}

			ul.unstyled li {
				padding: 0.4em 0;
			}
                        
                        
                         
.imagedropshadow { padding: 5px; border: solid 10px #EFEFEF; } a:hover img.imagedropshadow { border: solid 1px #CCC; -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999; }

.img-circle {
    border-radius: 50%;
    width:200px;
    height:200px;
}
/*.navbar-custom {
    background-color: whitesmoke;
    border-color: #337ab7;
    .navbar-brand {
        color: black;
        &:hover, &:focus {
            color: black; }}
    .navbar-nav {
        > li {
            > a {
                color: #ecf0f1;
                &:hover, &:focus {
                    color: #d1ffed;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: #d1ffed;
                background-color: whitesmoke; }}
        .open {
            > a, > a:hover, > a:focus {
                color: #d1ffed;
                background-color: whitesmoke;
                .caret {
                    border-top-color: #d1ffed;
                    border-bottom-color: #d1ffed; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: #ecf0f1;
                    border-bottom-color: #ecf0f1; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: #d1ffed;
                        border-bottom-color: #d1ffed; }}}}}

}*/
/*.navbar-default .navbar-custom {
  border-color: #27ae60;
}
.navbar-default .navbar-custom:hover,
.navbar-default .navbar-custom:focus {
  background-color: #27ae60;
}
.navbar-default .navbar-custom .icon-bar {
  background-color: #2ecc71;
}*/

/*.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}*/